<?xml version="1.0" encoding="UTF-8"?>
<widget id="com.poligon.IIHMStudent" version="2.0.3" xmlns="http://www.w3.org/ns/widgets" xmlns:gap="http://phonegap.com/ns/1.0">
  <name>IIHM Student</name>
  <description>IIHM Student Performance App</description>
  <author href="http://poligon.in" email="info@poligononline.com">Poligon Initiative</author>
  <preference name="phonegap-version" value="cli-8.1.1" />
  <preference name="permissions"                value="none"/>
  <preference name="orientation"                value="default" />
  <preference name="target-device"              value="universal" />
  <preference name="fullscreen"                 value="false" />
  <!-- Core plugins -->
  <plugin name="cordova-plugin-camera"/>
  <plugin name="cordova-plugin-device"/>
  <plugin name="cordova-plugin-file"/>
  <plugin name="cordova-plugin-geolocation"/>
  <plugin name="cordova-plugin-inappbrowser"/>
  <plugin name="cordova-plugin-network-information"/>
  <plugin name="cordova-plugin-statusbar"/>
  <plugin name="cordova-plugin-whitelist"/>
  <icon src="icon.png" />
  <access origin="*"/>
  <allow-navigation href="http://*/*" />
  <allow-navigation href="https://*/*" />
  <allow-intent href="http://*/*" />
  <allow-intent href="https://*/*" />
  <allow-intent href="tel:*" />
  <allow-intent href="sms:*" />
  <allow-intent href="mailto:*" />
  <allow-intent href="geo:*" />
  <platform name="android">
    <allow-intent href="market:*" />
  </platform>
</widget>
